@inherits LayoutComponentBase

<PageTitle>Home| Jendamark Assembly Site</PageTitle>

<SideNavigation />
<div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-jendamark-blue-300 border-dashed rounded-lg">
    @Body
  </div>
</div>