<button type="@Type" id="@Id" class="@Class">@Text</button>
@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string Id { get; set; }
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Class { get; set; }
}